/*------------------------------------------------------------------------------- */
/* Navigation Bar (tabs)                                                          */
/*------------------------------------------------------------------------------- */

/* The entire tab navigation pane */
#nav-tabs-pane {
    -fx-tab-min-height : 3em; /* 24 */
    -fx-tab-max-height : 3em; /* 24 */
}


/* Normal tab */
#nav-tabs-pane .tab {
    -fx-background-insets : 0.0;
    -fx-background-radius : 0.0;
    -fx-background-color  : #333538;
    -fx-padding           : 5 30 5 30;
}


/* Selected tab */
#nav-tabs-pane .tab:selected {
    -fx-background-color : #383B3E;
                         /*-fx-border-style     : hidden hidden solid hidden;*/
    -fx-border-style     : hidden hidden hidden hidden;
    -fx-border-width     : 0.188em;
    -fx-border-color     : #2F3233;
}


/* Tab in focus ? */
#nav-tabs-pane .tab:focused {
    -fx-focus-color : transparent;
}


#nav-tabs-pane .tab .tab-label {
    -fx-background-color : transparent;
    -fx-alignment        : CENTER;
    -fx-text-fill        : #CBCBCC;
    -fx-font-family      : "Roboto Light", "Georgia";
    -fx-font-weight      : 600;
}


#nav-tabs-pane *.tab-header-background {
    -fx-background-color : #333538;
}


#nav-tabs-pane:top *.tab-header-area {
    -fx-background-insets : 0, 0 0 1 0;
    -fx-padding           : 0.0em 0.166667em 0.0em 0.0em;
}


#nav-tabs-pane .tab:selected .focus-indicator {
    -fx-focus-color  : transparent;
    -fx-border-color : transparent;
}
