
#mainPane {
    -fx-background-color : #3C3F41;
}


/*------------------------------------------------------------------------------- */
/* The 'player' panes (each individual container)                                 */
/*------------------------------------------------------------------------------- */

.player-pane {
    -fx-padding : 15px;
}


.player-pane * {
}


.player-pane.odd {
    -fx-background-color : #3C3F41;
}


.player-pane.even {
    -fx-background-color : #3F4244;
}


.player-pane .label {
    -fx-text-fill : #FFFFFF;
}