/*------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Light */
@font-face {
    font-family : "Roboto Condensed";
    font-style  : normal;
    font-weight : 300;
    src         : local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("../../fonts/RobotoCondensed-Light.ttf") format('truetype');
}


@font-face {
    font-family : "Roboto Condensed";
    font-style  : italic;
    font-weight : 300;
    src         : local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("../../fonts/RobotoCondensed-LightItalic.ttf") format('truetype');
}


/* Normal */
@font-face {
    font-family : "Roboto Condensed";
    font-style  : normal;
    font-weight : 400;
    src         : local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("../../fonts/RobotoCondensed-Regular.ttf") format('truetype');
}


@font-face {
    font-family : "Roboto Condensed";
    font-style  : italic;
    font-weight : 400;
    src         : local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("../../fonts/RobotoCondensed-Italic.ttf") format('truetype');
}


/* Bold */
@font-face {
    font-family : "Roboto Condensed";
    font-style  : normal;
    font-weight : 700;
    src         : local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("../../fonts/RobotoCondensed-Bold.ttf") format('truetype');
}


@font-face {
    font-family : "Roboto Condensed";
    font-style  : italic;
    font-weight : 700;
    src         : local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("../../fonts/RobotoCondensed-BoldItalic.ttf") format('truetype');
}


/*------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Light */
@font-face {
    font-family : "Roboto";
    font-style  : normal;
    font-weight : 300;
    src         : local('Roboto Light'), local('Roboto-Light'), url("../../fonts/Roboto-Light.ttf") format('truetype');
}


@font-face {
    font-family : "Roboto";
    font-style  : italic;
    font-weight : 300;
    src         : local('Roboto Light Italic'), local('Roboto-LightItalic'), url("../../fonts/Roboto-LightItalic.ttf") format('truetype');
}


/* Normal */
@font-face {
    font-family : "Roboto";
    font-style  : normal;
    font-weight : 400;
    src         : local('Roboto Regular'), local('Roboto-Regular'), url("../../fonts/Roboto-Regular.ttf") format('truetype');
}


@font-face {
    font-family : "Roboto";
    font-style  : italic;
    font-weight : 400;
    src         : local('Roboto Italic'), local('Roboto-Italic'), url("../../fonts/Roboto-Italic.ttf") format('truetype');
}


/* Bold */
@font-face {
    font-family : "Roboto";
    font-style  : normal;
    font-weight : 700;
    src         : local('Roboto Bold'), local('Roboto-Bold'), url("../../fonts/Roboto-Bold.ttf") format('truetype');
}


@font-face {
    font-family : "Roboto";
    font-style  : italic;
    font-weight : 700;
    src         : local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("../../fonts/Roboto-BoldItalic.ttf") format('truetype');
}


/*------------------------------------------------------------------------------------------------------------------------------------------------- */